main{
    height: 200px;
}

.caixa {

    width: 200px;
    height: 200px;
    background-color: silver;
    padding: 24px;

}

.caixa-interna {

    width: 100%;
    height: 100%;
    background-color: skyblue;

}

