@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Cabin:wght@500&family=Crete+Round&family=Source+Sans+3&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

.main-header{
    /* gap: 30px; */
    /* list-style: none; */
    background-color: #f0e9d2e7;
    width: 100%;
    /* padding: 24px 0; */
    position: fixed;
    z-index: 2;
    /* margin-right: 200px; */
    font-family: 'Source Sans 3', sans-serif;
    color:rgb(10, 10, 10);
    font-size: 20px;
}


.logoheader{
    padding: 20px;
    height: 100px;
    width: auto;
}

/* .main-header nav {
    height: 40px;
    margin: 0 auto;
    margin-right: 20px;
}

header ul{
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 40px;
    align-content: stretch;
} */

  .banner {
    height: 100vh;
    background-image: url("imagens/82317.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    border-radius: 15px;

  }

  .container h1{
      text-align: center;
      padding: 20px;
      /* margin-bottom: 20px; */
      font-family: 'Source Sans 3', sans-serif;
      font-weight: bolder;
    }

    .titulo{
        font-style: normal;
        font-size: 50px;
        color: rgb(46, 41, 46);
    }

  .card{
      margin-bottom: 20px;
      font-family: 'Source Sans 3', sans-serif;
      font-size: 16px;
      border-radius: 10px;
      border-style: groove;
      background-color: #f5f1e2e7;
      color:rgb(10, 10, 10)
  }

  .card img{
      height: 581px;
      object-fit: cover;
  }

  .card .btn{
      width: 100%;
  }
