*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Cabin:wght@500&family=Crete+Round&display=swap');


.main-header{
    /* gap: 30px; */
    /* list-style: none; */
    background-color: #f0e9d2e7;
    width: 100%;
    /* padding: 24px 0; */
    position: fixed;
    z-index: 2;
    margin-right: 200px;
    font-family: 'Bitter';

}

.logoheader{
    padding: 20px;
    height: 100px;
    width: auto;
}

/* .main-header nav {
    height: 40px;
    margin: 0 auto;
    margin-right: 20px;
}

header ul{
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 40px;
    align-content: stretch;
} */

  .banner {
    height: 100vh;
    background-image: url("imagens/82317.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  }

  .card{
      display: flex;
      margin-bottom: 20px;
      font-family: "Bitter";
      font-size: 32px;
      font-weight: bold;
  }

  .card img{
      height: 581px;
      object-fit: cover;
  }
