*{
    margin: 0;
    padding:0;
}


form{
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fpt%2Fsearch%3Fq%3Dformul%25C3%25A1rio&psig=AOvVaw2Smqpq2LlpnlZlcE6FU72C&ust=1636681234631000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPC_-OaWj_QCFQAAAAAdAAAAABAD');
}